<div class="container mt-4">
  <h2>Cadastro de Pedido</h2>
  <form [formGroup]="orderForm" (ngSubmit)="createOrder()">
    <div class="mb-3">
      <label for="racePrice" class="form-label">Valor da corrida:</label>
      <input
        type="text"
        id="racePrice"
        class="form-control"
        formControlName="racePrice"
        required
      />
    </div>
    <div class="row">
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage != ''">
        {{ errorMessage }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar Pedido</button>
  </form>
</div>
