<div class="row mb-3">
  <h4>Meus pedidos</h4>
  <div class="card mt-4" *ngFor="let item of myOrders; index as i">
    <div class="card-body">
      <h3 class="card-title">Pedido: {{ item.orderId }}</h3>

      <p class="card-text">Valor da corrida: {{ item.racePrice }}</p>
      <p class="card-text">Status: {{ item.status }}</p>
      <p *ngIf="item.status != 'Entregue'">
        <button type="button" class="btn btn-primary" (click)="finish(item)">
          finalizar
        </button>
      </p>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="card-body" *ngFor="let item of result; index as i">
    <h3 class="card-title">Novos Pedidos</h3>

    <p class="card-text">Valor da corrida: {{ item.raceprice }}</p>

    <p>
      <button type="button" class="btn btn-primary" (click)="accept(item)">
        aceitar
      </button>

      <button type="button" class="btn btn-danger" (click)="refuse(item)">
        recusar
      </button>
    </p>
  </div>
</div>
